* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: goldenrod;
    border-width: 100%;
    background-image: url(Images/Bground/pexels-photo-3805983.jpeg);
    background-blend-mode:hard-light;
    background-color: rgb(4, 4, 204);
    margin-bottom:10px;
}

body {
    color:rgb(4, 4, 204);
    border-width: 100%;
}

.border{
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: rgb(4, 4, 204);
    border-width: 100%;
    margin-bottom: 10px;
}

.border2{
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: rgb(4, 4, 204);
    border-width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.navbar{
    display:flex;
    font-size: 50px;
    background-color: darkgray;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #daa520;
    width:100%;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    

.navbar a{
    display: block;
    float: left;
    width: 20%;
    color: rgb(4, 4, 204);
    margin-top: 5px;
    margin-bottom: 3px;
    padding-top: 40px;
    padding-bottom: 2px;
}

.cart{
    position: relative;
    bottom: 18px;
}

.navbar a:hover {
    color: white;
}

.clear {
    clear:both;   
}

.pgbanner{
    border-style: solid;
    border-width: 10px 2px 10px 2px;
    border-color: rgb(4, 4, 204);
    padding-bottom: 7px;
    padding-top: 7px;
    align-self: center;
    margin-bottom: 200px;
}

#websiteTitle {
    display: none;
    text-indent: -9999px;
}

.products img{
    width:20%;
    padding-left: 2%;
    padding-right: 2%;
}

.products img:hover{
    opacity: .65;
}

.products1{
    /* color:white; */
    color:black;
    
}

.products1 img{
    width:20%;
    padding-left: 2%;
    padding-right: 2%;
}

.products1 img:hover{
    opacity: .65;
    color: rgb(0,0,0);
}

.pro{
    border-width: 0px, 10px, 0px, 0px;
    border-right:solid;
    border-color: rgb(4, 4, 204);
}

.descrip{
    /* display: none; */
    position: relative;
    bottom: 350px;
    left: 200px;
    font-size: 25px;
    color: white;
}

.Pgtitle{
    text-align: center;
    font-size: 80px;
    font-family:fantasy;
}

.shop{
    text-align: center;
    font-size: 80px;
    font-family:fantasy;
    margin-top: 220px;
    padding-top:25px;
    padding-bottom:25px; 
    background-blend-mode:luminosity;
    color: rgb(4, 4, 204);
}

.newsletter{
    font-size: 50px;
    color: whitesmoke;
    background-image: url(Images/Bground/starsflash.jpg);
    text-align: center;
    margin-bottom: 250px;
    padding-bottom: 30px;
    border-style:solid;
    height: 950px;
    width: 800px;
    position: relative;
    left:30%;
    border-radius: 75px;
    
}

.newsletter img{
    padding-bottom: 100px;
    
}

.newsletter p{
    padding-top: 50px;
    line-height:1.6;
}

.newsletter input{
    position:relative;
    bottom: 10px;
    font-size: xx-large;
    font-family: Bradley Hand;
    padding-left: 12px;
    border-radius: 12px;
    
}

.newsletter label{
    font-family: Bradley Hand;
}

#fname{
    position: relative;
    left: 4px;
}

.Submit{
    font-size: 25px;
    padding: 5px;
}

.Optin{
    position: relative;
    top: 1px;
}

#Optin{
    font-size: 25px;
}