@font-face {
  font-family: 'DSG Sans';
	font-display: swap;
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.eot'); /* IE9 Compat Modes */
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.woff') format('woff'), /* Modern Browsers */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.svg#0f7628e26120f0f09ce1f8505eddb4e1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'DSG Sans';
	font-display: swap;
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.svg#35915912463a18b3fda06bb3b38bb993') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'DSG Sans';
	font-display: swap;
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.woff') format('woff'), /* Modern Browsers */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.svg#de7f5abe7643c7f99c94a535794ad6a8') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight: 400;
}

@font-face {
  font-family: 'DSG Sans';
	font-display: swap;
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.eot'); /* IE9 Compat Modes */
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.woff') format('woff'), /* Modern Browsers */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.svg#874d283699a9ed784f565b2915fe969e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'DSG Sans';
	font-display: swap;
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.eot'); /* IE9 Compat Modes */
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.woff') format('woff'), /* Modern Browsers */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.svg#01c81e2d7ffb3feb4c76392c70283db1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'DSG Sans';
	font-display: swap;
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.eot'); /* IE9 Compat Modes */
  src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.woff') format('woff'), /* Modern Browsers */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.svg#a9a7840bf1ed10b3c83a4cd8549eeccd') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}

@font-face {
	font-family: 'DSG Sans Black';
	  font-display: swap;
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.eot'); /* IE9 Compat Modes */
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.woff') format('woff'), /* Modern Browsers */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Black.svg#0f7628e26120f0f09ce1f8505eddb4e1') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
  }

  @font-face {
	font-family: 'DSG Sans Bold';
	  font-display: swap;
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.eot'); /* IE9 Compat Modes */
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.woff') format('woff'), /* Modern Browsers */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Bold.svg#35915912463a18b3fda06bb3b38bb993') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  700;
  }

  @font-face {
	font-family: 'DSG Sans Medium';
	  font-display: swap;
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.eot'); /* IE9 Compat Modes */
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.woff') format('woff'), /* Modern Browsers */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Medium.svg#de7f5abe7643c7f99c94a535794ad6a8') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
  }

  @font-face {
	font-family: 'DSG Sans Outline';
	  font-display: swap;
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.eot'); /* IE9 Compat Modes */
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.woff') format('woff'), /* Modern Browsers */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Outline.svg#874d283699a9ed784f565b2915fe969e') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
  }

  @font-face {
	font-family: 'DSG Sans Thin';
	  font-display: swap;
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.eot'); /* IE9 Compat Modes */
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.woff') format('woff'), /* Modern Browsers */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Thin.svg#01c81e2d7ffb3feb4c76392c70283db1') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  200;
  }

  @font-face {
	font-family: 'DSG Sans Ultra';
	  font-display: swap;
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.eot'); /* IE9 Compat Modes */
	src: url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.woff') format('woff'), /* Modern Browsers */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('https://images.dickssportinggoods.com/assets/fonts/dsgsans/DSGSans-Ultra.svg#a9a7840bf1ed10b3c83a4cd8549eeccd') format('svg'); /* Legacy iOS */

	font-style:   normal;
	font-weight:  400;
  }
